* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: inherit;
}
body {
    font-size: 14pt;
    padding: 8pt;
}
h1 {
    font-size: 18pt;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size: 15pt;
}
input {
    font-size: inherit;
}
a {
    color: inherit;
    background-color: silver;
    padding-left: 2pt;
    padding-right: 2pt;
    padding: 2pt;
    border-radius: 4pt;
    text-decoration: none;
}
ol {
    padding-left: 24pt;
}

h2 {
    margin-top: 4pt;
    margin-bottom: 4pt;
}
h3 {
    margin-top: 4pt;
    margin-bottom: 4pt;
}
p {
    margin-top: 8pt;
    margin-bottom: 8pt;
}
div {
    margin-top: 4pt;
    margin-bottom: 4pt;
}
hr {
    overflow: visible; /* For IE */
    padding: 0;
    margin-bottom: 12pt;
    margin-top: 12pt;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.connection {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}
.bridgename {
    font-size: 16pt;
    font-weight: bold;
}
.bridgeip {
    font-weight: bold;
}
.bridgeid {
    font-weight: bold;
}
.bridgestatus {
    font-weight: bold;
}
.token {
    font-weight: bold;
}
.unavailableip {
    font-weight: bold;
}
.connected {
    color: silver;
}
.connected::before {
    content: "Connected: ";
}
.property {
    font-weight: bold;
}
h2 {
    color: silver;
}
td {
    padding-left: 12pt;
}
select {
    -webkit-appearance: none;
    font-size: inherit;
    background: inherit;
}
option {
    -webkit-appearance: none;
    font-size: inherit;
    background: inherit;
}
button {
    font-size: inherit;
    padding: 4pt;
    border-radius: 4pt;
    background-color: silver;
    min-width: 48pt;
}
#pmz {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}
#hardware {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}
#zone {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}
.scene {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}
.configuration {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}
.component {
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}

.group {
    cursor: pointer;
    position: relative;
    border-radius: 8pt;
    padding: 8pt;
    margin: 8pt;
    background-color: whitesmoke;
}

.group[data-type='Room']::before {
    content: 'RM';
    color: hsla(253, 81%, 16%, 0.5);
    margin-right: 4em;
}

.group[data-type='Zone']::before {
    content: 'ZN';
    color: hsla(253, 81%, 16%, 0.5);
    margin-right: 4em;
}

.group[data-power-level]::before {
    content: 'PM';
    color: hsla(253, 81%, 16%, 0.5);
    margin-right: 4em;
}

.group[data-power-management='0']::before {
    content: 'PM';
    color: hsla(253, 81%, 16%, 0.25);
    margin-right: 4em;
}

.group[data-unreachable='true']::before {
    color: hsla(253, 81%, 16%, 0.25);
    margin-right: 4em;
}

.group[data-on='true'] {
    background-color: antiquewhite;
}

.metadata {
    color: whitesmoke;
}
.add-schedule {
    background-color: white;
}
.highlight {
    background-color: white;
}
